name: 'ci'
on:
  push:
    branches:
      - v15
  pull_request:
    branches:
      - v15
jobs:
  unit-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
      fail-fast: false
    name: "Unit Test: ${{ matrix.os }}"
    steps:
      - uses: actions/checkout@v2

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 7

      - name: Set node version to 16
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: 'pnpm'

      - run: pnpm install

      - name: Run unit tests
        run: pnpm run test

      - name: Set up webpack 5 tests
        run: npx json -f package.json -I -e "this.resolutions = {}, this.resolutions.webpack = '^5.0.0', this.devDependencies.webpack = '^5.0.0' "

      - name: Install webpack 5
        run: pnpm install --no-frozen-lockfile

      - name: Run unit tests for webpack 5
        run: pnpm run test && pnpm run test:match-resource
